
@keyframes size-small-big{
	0% 		{ transform: scale(1.0); }
	50%		{ transform: scale(2.0); }
	100%	{ transform: scale(1.0); }
}

@keyframes expand{
	0%	{ transform: scale(1.0); }
	100%{ transform: scale(1.2); }
}



.nav-bar-row {
	background-color: darkseagreen;
}

#page-heading{
	text-align: center;
	font: sans-serif;
	font-family: "Andalé Mono";
	height: 100%
}


.content{
	height: 100%;
	width: 100%;
}

.background {
	background-color: lightblue;
}

.markerImg {
	align-self: center;
	animation-play-state: paused;
}

.markerImg:hover {
	animation-play-state: running;
	animation-name: expand;
	animation-duration: 0.3s;
	animation-iteration-count: initial;
	filter: brightness(0.5);
}


.footer-background{
	background-color: darkseagreen;
}

.footer-col-content{
	text-align: center;
}

.enemy-list-hover:hover {
	background-color: #ccc;
	cursor: pointer;
}
